<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smk Citra Negara</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Itim&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

   <!-- Header -->
   <div class="header">
    <!-- Left: Logo and Text -->
    <div class="logo">
        <img src="/static/assets/img/cn1.png" alt="Logo">
        <div>
            <h1>SMK CITRA NEGARA</h1>
            <span class="slogan">MUTU - AMANAH - NYAMAN - TAQWA - AKTIF - PROFESIONAL</span>
        </div>
    </div>
    <!-- Right: Logo -->
    <div class="right-logo">
        <img src="/static/assets/img/th-removebg-preview.png" alt="Logo">
    </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vision & Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Academic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Directory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Home Section -->
<section class="home-section">
    <!-- Background Video (Visible on Desktop) -->
    <video autoplay muted loop>
        <source src="/static/assets/vid/vidiocn.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="home-text">
        <h1>Welcome to SMK Citra Negara</h1>
        <p>Vocational school with the most students in West Java</p>
        <button class="btn btn-primary">Learn More</button>
    </div>
</section>

<!-- Section Statistik -->
<div class="statistics-section">
    <div class="container">
        <!-- Statistik Siswa Aktif -->
        <div class="stat-box">
            <i class="fas fa-users"></i>
            <h2><span class="num" data-val="3500">0000</span></h2>
            <p>Siswa Aktif</p>
        </div>
        <!-- Statistik Alumni -->
        <div class="stat-box">
            <i class="fas fa-graduation-cap"></i>
            <h2><span class="num" data-val="12000">0000</span></h2>
            <p>Alumni</p>
        </div>
        <!-- Statistik Tahun Berdiri -->
        <div class="stat-box">
            <i class="fas fa-calendar-alt"></i>
            <h2><span class="num" data-val="20">00</span></h2>
            <p>Tahun Berdiri</p>
        </div>
        <!-- Statistik Keahlian Program -->
        <div class="stat-box">
            <i class="fas fa-brain"></i>
            <h2><span class="num" data-val="5">00</span></h2>
            <p>Keahlian Program</p>
        </div>
    </div>
</div>


    <section class="teachers">
        <div class="container">
            <!-- Judul dan Deskripsi -->
            <div class="text-content">
                <h2>JURUSAN</h2>
                <h1>Kenali Jurusan Kami</h1>
            </div>
          
            <!-- Card untuk Jurusan -->
            <div class="teacher-card">
                <img src="/static/assets/img/jurusan/PPLG.png" alt="Jurusan 1">
                <div class="info">
                    <h3>Pengembangan Perangkat Lunak dan Gim</h3>
                    <p>Program yang mempersiapkan siswa menjadi ahli dalam bidang teknologi informasi dan perangkat lunak.</p>
                    <div class="social">
                        <button class="detail-btn" data-target="pplg-detail">
                            <span>Detail</span>
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="teacher-card">
                <img src="/static/assets/img/jurusan/MPLB.png" alt="Jurusan 2">
                <div class="info">
                    <h3>Manajemen Perkantoran dan Layanan Bisnis</h3>
                    <p>Program yang fokus pada keahlian di bidang akuntansi dan manajemen keuangan.</p>
                    <div class="social">
                        <button class="detail-btn" data-target="akuntansi">
                            <span>Detail</span>
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="teacher-card">
                <img src="/static/assets/img/jurusan/PEMASARAN.png" alt="Jurusan 3">
                <div class="info">
                    <h3>PEMASARAN</h3>
                    <p>Program yang mempersiapkan siswa untuk menjadi pemimpin yang efektif di dunia bisnis.</p>
                    <div class="social">
                        <button class="detail-btn" data-target="desain-grafis">
                            <span>Detail</span>
                        </button>
                    </div>
                </div>
            </div>
    
            <!-- Menambahkan dua card lagi berdampingan -->
            <div class="teacher-row">
                <div class="teacher-card">
                    <img src="/static/assets/img/jurusan/DKV.png" alt="Jurusan 4">
                    <div class="info">
                        <h3>Desain Komunikasi Visual</h3>
                        <p>Program yang mengajarkan keterampilan desain visual dan multimedia.</p>
                        <div class="social">
                            <button class="detail-btn" data-target="manajemen">
                                <span>Detail</span>
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="teacher-card">
                    <img src="/static/assets/img/jurusan/tkj.png" alt="Jurusan 5">
                    <div class="info">
                        <h3>Teknik Jaringan Komputer dan Telekomunikasi</h3>
                        <p>Program yang mengajarkan keahlian dalam pengelolaan jaringan komputer dan sistem telekomunikasi</p>
                        <div class="social">
                            <button class="detail-btn" data-target="teknik-mesin">
                                <span>Detail</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

      


<!-- Pop-up Kontainer -->
<div id="pplg-detail" class="popup-container">
    <div class="popup-content">
        <div class="header popup-header">
            <img src="/static/assets/img/jurusan/PPLG.png" alt="School Logo">
            <div class="title">Pengembangan Perangkat Lunak dan Gim</div>
            <div class="close" onclick="closePopup()">×</div>
        </div>
        <div class="section-title">Prospek Kerja Dan Pembelajaran Jurusan</div>
        <div class="content">
            <div class="card">
                <ul>
                    <li>Developer IT</li>
                    <li>Programmer</li>
                    <li>Software Tester</li>
                    <li>Game Developer</li>
                    <li>Web Engineer</li>
                </ul>
            </div>
            <div class="card">
                <img src="/static/assets/img/detail_foto/pplg2.png" alt="Students working on computers">
            </div>
        </div>
        <div class="footer">
            <button onclick="closePopup()">Tutup</button>
        </div>
    </div>
</div>

<div id="akuntansi" class="popup-container">
    <div class="popup-content">
        <div class="header popup-header">
            <img src="/static/assets/img/jurusan/MPLB.png" alt="Akuntansi Logo">
            <div class="title">Manajemen Perkantoran dan Layanan Bisnis</div>
            <div class="close" onclick="closePopup()">×</div>
        </div>
        <div class="section-title">Prospek Kerja dan Pembelajaran</div>
        <div class="content">
            <div class="card">
                <ul>
                    <li>Accountant</li>
                    <li>Financial Analyst</li>
                    <li>Auditor</li>
                    <li>Tax Consultant</li>
                </ul>
            </div>
            <div class="card">
                <img src="/static/assets/img/detail_foto/mplb2.png" alt="Akuntansi Image">
            </div>
        </div>
        <div class="footer">
            <button onclick="closePopup()">Tutup</button>
        </div>
    </div>
</div>

<!-- Pop-up Kontainer Desain Grafis -->
<div id="desain-grafis" class="popup-container">
    <div class="popup-content">
        <div class="header popup-header">
            <img src="/static/assets/img/jurusan/PEMASARAN.png" alt="Desain Grafis Logo">
            <div class="title">PEMASARAN</div>
            <div class="close" onclick="closePopup()">×</div>
        </div>
        <div class="section-title">Prospek Kerja dan Pembelajaran</div>
        <div class="content">
            <div class="card">
                <ul>
                    <li>Graphic Designer</li>
                    <li>UI/UX Designer</li>
                    <li>Art Director</li>
                    <li>Brand Strategist</li>
                </ul>
            </div>
            <div class="card">
                <img src="/static/assets/img/detail_foto/pm2.png" alt="Desain Grafis Image">
            </div>
        </div>
        <div class="footer">
            <button onclick="closePopup()">Tutup</button>
        </div>
    </div>
</div>

<!-- Pop-up Kontainer Manajemen -->
<div id="manajemen" class="popup-container">
    <div class="popup-content">
        <div class="header popup-header">
            <img src="https://via.placeholder.com/50" alt="Manajemen Logo">
            <div class="title">Jurusan Manajemen</div>
            <div class="close" onclick="closePopup()">×</div>
        </div>
        <div class="section-title">Prospek Kerja dan Pembelajaran</div>
        <div class="content">
            <div class="card">
                <ul>
                    <li>Business Manager</li>
                    <li>HR Specialist</li>
                    <li>Marketing Executive</li>
                    <li>Project Manager</li>
                </ul>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Manajemen Image">
            </div>
        </div>
        <div class="footer">
            <button onclick="closePopup()">Tutup</button>
        </div>
    </div>
</div> 

<!-- Pop-up Kontainer Teknik Mesin -->
<div id="teknik-mesin" class="popup-container">
    <div class="popup-content">
        <div class="header popup-header">
            <img src="https://via.placeholder.com/50" alt="Teknik Mesin Logo">
            <div class="title">Jurusan Teknik Mesin</div>
            <div class="close" onclick="closePopup()">×</div>
        </div>
        <div class="section-title">Prospek Kerja dan Pembelajaran</div>
        <div class="content">
            <div class="card">
                <ul>
                    <li>Mechanical Engineer</li>
                    <li>Manufacturing Specialist</li>
                    <li>Automotive Engineer</li>
                    <li>Industrial Designer</li>
                </ul>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Teknik Mesin Image">
            </div>
        </div>
        <div class="footer">
            <button onclick="closePopup()">Tutup</button>
        </div>
    </div>
</div>


<div class="team-section">
    <h1>Guru & Staff</h1>
    <hr/>

    <div class="slider">
      <div class="slider-container">
        <!-- Team Member 1 -->
        <div class="team-member">
          <img alt="Profile picture of Arik Smith" src="/uploads/guru&staff/Satria-Yudha-S.Kom-Kaprog-PPLG-BKK-min-576x1024.png" width="100" height="100"/>
          <h2>Kaprog PPLG</h2>
          <p>Satria Yudha S. Kom.</p>
          <div class="social-icons">
            <a href="#"><i class="fas fa-globe"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>

        <!-- Team Member 2 -->
        <div class="team-member">
          <img alt="Profile picture of Arik Smith" src="uploads/guru&staff/Endang-Eva-Yurita-MM-Waka-Kurikulum-min-576x1024.png" width="100" height="100"/>
          <h2>Waka Kurkum</h2>
          <p>Endang Eva</p>
          <div class="social-icons">
            <a href="#"><i class="fas fa-globe"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>

        <!-- Team Member 3 -->
        <div class="team-member">
          <img alt="Profile picture of Arik Smith" src="uploads/guru&staff/aris.jpg" width="100" height="100"/>
          <h2>Pembina Osis</h2>
          <p>Aris</p>
          <div class="social-icons">
            <a href="#"><i class="fas fa-globe"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>

        <!-- Team Member 4 -->
        <div class="team-member">
          <img alt="Profile picture of Arik Smith" src="uploads/guru&staff/Rista-Bagus-H.-Handoko-S.Pd-Kedisiplinan-min-576x1024.png" width="100" height="100"/>
          <h2>Waka Kesiswa</h2>
          <p>Handoko S. Kom.</p>
          <div class="social-icons">
            <a href="#"><i class="fas fa-globe"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>

        <!-- Team Member 5 -->
        <div class="team-member">
          <img alt="Profile picture of Arik Smith" src="uploads/guru&staff/Decky-Ryansyah-M.Kom-Kepala-IT-min-576x1024.png" width="100" height="100"/>
          <h2>Team IT</h2>
          <p>Decky</p>
          <div class="social-icons">
            <a href="#"><i class="fas fa-globe"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>

        <!-- Team Member 6 -->
        <div class="team-member">
          <img alt="Profile picture of Arik Smith" src="uploads/guru&staff/fikri.jpg" width="100" height="100"/>
          <h2>Guru BTQ</h2>
          <p>Fikri</p>
          <div class="social-icons">
            <a href="#"><i class="fas fa-globe"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
  </div>


  <div class="ekstrakulikuler-section">
    <h1>Ekstrakulikuler</h1>
    <div class="ekstrakulikuler-container">
      <!-- Foto 1 -->
      <div class="ekstrakulikuler-card" onclick="expandEkstrakulikuler(this)">
        <img alt="Ekstrakulikuler 1" src="uploads/ekskul/futsal.jpg" class="ekstrakulikuler-img" />
        <div class="ekstrakulikuler-overlay">Futsal</div>
      </div>
  
      <!-- Foto 2 -->
      <div class="ekstrakulikuler-card" onclick="expandEkstrakulikuler(this)">
        <img alt="Ekstrakulikuler 2" src="uploads/ekskul/paskib.jpg" class="ekstrakulikuler-img" />
        <div class="ekstrakulikuler-overlay">Paskibra</div>
      </div>
  
      <!-- Foto 3 -->
      <div class="ekstrakulikuler-card" onclick="expandEkstrakulikuler(this)">
        <img alt="Ekstrakulikuler 3" src="uploads/ekskul/MPLS 2024.heic" class="ekstrakulikuler-img" />
        <div class="ekstrakulikuler-overlay">Voly</div>
      </div>
  
      <!-- Foto 4 -->
      <div class="ekstrakulikuler-card" onclick="expandEkstrakulikuler(this)">
        <img alt="Ekstrakulikuler 4" src="uploads/ekskul/Esprot.jpg" class="ekstrakulikuler-img" />
        <div class="ekstrakulikuler-overlay">E-Sport</div>
      </div>
  
      <!-- Foto 5 -->
      <div class="ekstrakulikuler-card" onclick="expandEkstrakulikuler(this)">
        <img alt="Ekstrakulikuler 5" src="uploads/ekskul/tari.jpg" class="ekstrakulikuler-img" />
        <div class="ekstrakulikuler-overlay">Tari</div>
      </div>
  
      <!-- Foto 6 -->
      <div class="ekstrakulikuler-card" onclick="expandEkstrakulikuler(this)">
        <img alt="Ekstrakulikuler 6" src="uploads/ekskul/pramuka.jpg" class="ekstrakulikuler-img" />
        <div class="ekstrakulikuler-overlay">Pramuka</div>
      </div>
    </div>
  </div>
  



    <!-- Prestasi content-->
    <div class="container prestasi">
        <div class="header">
          <h1>Prestasi</h1>
          <img src="/static/assets/img/cn1.png" alt="Logo Sekolah" class="logo">
        </div>
        
        <!-- Galeri akan diisi secara dinamis -->
        
        <div class="dots">
          <!-- Navigasi dots akan diisi secara dinamis -->
        </div>
      </div>
      
    
        <!-- Footer with Navigation Arrows -->
        <div class="footer">
            <div class="arrows" onclick="showPage(currentPage > 1 ? currentPage - 1 : totalPages)">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="page-number">1</div>
            <div class="arrows" onclick="showPage(currentPage < totalPages ? currentPage + 1 : 1)">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
    

    <section class="mitra">
        <div class="mitra-content">
            <h2>Mitra Kami</h2>
            <div class="mitra-images">
                <!-- Gambar mitra -->
                <img src="/static/assets/img/transmart-logo-T0j8K9u5.png" alt="Mitra 1">
                <img src="/static/assets/img/Indomaret-Logo-Vector-scaled-1024x517-removebg-preview.png" alt="Mitra 2">
                <img src="/static/assets/img/logo-kai.png" alt="Mitra 3">
                <img src="/static/assets/img/Logo Bank_BJB.png" alt="Mitra 4">
                <!-- Duplikat untuk seamless looping -->
                <img src="/static/assets/img/406-4061748_logo-ui-png-universitas-indonesia.png" alt="Mitra 1">
                <img src="/static/assets/img/biznet_logo-horizontal-fullcolor.png" alt="Mitra 2">
                <img src="/static/assets/img/Alfamart-Emblem.png" alt="Mitra 3">
                <img src="/static/assets/img/lotte.png" alt="Mitra 4">
            </div>
        </div>
    </section>


    <section class="form-register">
        <h2 style="color: #000000; text-align: center;">Form Register</h2>
        <div class="form-container">
            <div class="form-left">
                <form id="siswaForm">
                    <!-- Nama -->
                    <label for="nama">Nama:</label>
                    <input type="text" id="nama" name="nama" placeholder="Masukkan Nama Lengkap" required>
                  
                    <!-- NISN -->
                    <label for="nisn">NISN:</label>
                    <input type="text" id="nisn" name="nisn" placeholder="Masukkan NISN" required>
                  
                    <!-- Jenis Kelamin -->
                    <label for="jenkel">Jenis Kelamin:</label>
                    <select id="jenkel" name="jenkel" required>
                      <option value="">Pilih Jenis Kelamin</option>
                      <option value="Laki-Laki">Laki-Laki</option>
                      <option value="Perempuan">Perempuan</option>
                    </select>
                  <br>
                    <!-- Email -->
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Masukkan Email" required>
                  
                    <!-- Usia -->
                    <label for="usia">Usia:</label>
                    <input type="number" id="usia" name="usia" placeholder="Masukkan Usia" required>
                  
                    <!-- Alamat -->
                    <label for="alamat">Alamat:</label>
                    <textarea id="alamat" name="alamat" placeholder="Masukkan Alamat Lengkap" rows="4" required></textarea>
                  
                    <!-- Nama Ayah -->
                    <label for="nama_ayah">Nama Ayah:</label>
                    <input type="text" id="nama_ayah" name="nama_ayah" placeholder="Masukkan Nama Ayah" required>
                  
                    <!-- Nama Ibu -->
                    <label for="nama_ibu">Nama Ibu:</label>
                    <input type="text" id="nama_ibu" name="nama_ibu" placeholder="Masukkan Nama Ibu" required>
                  
                    <!-- Nomor Telepon Orang Tua -->
                    <label for="no_telp_orang_tua">Nomor Telepon Orang Tua:</label>
                    <input type="tel" id="no_telp_orang_tua" name="no_telp_orang_tua" placeholder="Masukkan Nomor Telepon Orang Tua" required>
                  
                    <!-- Asal Sekolah -->
                    <label for="asal_sekolah">Asal Sekolah:</label>
                    <input type="text" id="asal_sekolah" name="asal_sekolah" placeholder="Masukkan Asal Sekolah" required>
                  
                    <!-- Jurusan -->
                    <label for="jurusan">Jurusan:</label>
                    <select id="jurusan" name="jurusan" required>
                      <option value="">Pilih Jurusan</option>
                      <option value="PPLG">PPLG</option>
                      <option value="Pemasaran">Pemasaran</option>
                      <option value="MPLB">MPLB</option>
                      <option value="DKV">DKV</option>
                      <option value="TJKT">TJKT</option>
                    </select>
                    <br>
                    <br>
                  
                    <!-- Submit -->
                    <button type="submit" class="submit-button">Submit</button>
                  </form>
                  
            </div>
            <div class="form-right" >
                <h3>Hubungi Kami</h3>
                <p>Jika ada kritik dan saran boleh email kami:</p>
                <form id="contactForm">
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="email" name="email" placeholder="E-mail address" required>
                    <textarea name="message" placeholder="Message" required></textarea>    
                    <button type="submit" class="submit-button">Submit</button>
                </form>
<br>
                <div class="google-map">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.1048759378727!2d106.80708677418481!3d-6.380462162409025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69eeacc6e549ab%3A0xd6c5c8ece644d8ee!2sSekolah%20Menengah%20Kejuruan%20Citra%20Negara!5e0!3m2!1sid!2sid!4v1732428489659!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" 
                        width="100%" 
                        height="300" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>

            </div>
        </div>
        <!-- Contact Info -->
<div class="contact-info">
    <div class="info-box">
        <i class="fas fa-phone-alt"></i>
        <p>(+876) 765 685</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="info-box">
        <i class="fas fa-envelope"></i>
        <p>smkcitranegara@gmail.com</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="info-box">
        <i class="fas fa-map-marker-alt"></i>
        <p>London Eye, London</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>

    </section>



<!-- Footer Utama -->
<div class="footer-main">
    <div>
        <img alt="School logo" height="30" src="img/cn1.png" width="40" />
        <h3>SMK Citra Negara</h3>
        <p>Jl. Tanah Baru Jl. Kemiri Jaya No.99, Beji, Kecamatan Beji, Kota Depok, Jawa Barat 16421</p>
        <h3>Follow Us</h3>
        <div class="social-icons">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <div>
        <h3>Explore</h3>
        <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Vision & Mission</a></li>
            <li><a href="#">Academic</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <div>
        <h3>Contact Info</h3>
        <p>smkcitranegara@gmail.com</p>
        <p>(021) 77201052</p>
        <p>SENIN – JUMAT, 07:00 – 17:00</p>
        <p>SABTU, 07:00 – 15:00</p>
    </div>
</div>
<div class="footer-bottom">
    <p>© 2023 -2024 | Pengembangan Perangkat Lunak dan Gim SMK Citra Negara</p>
</div>

    

    <script src="/static/js/script.js"></script>
    <script src="/pkg/homeConvert.js"></script>
    <script src="/pkg/convert.js"></script>
    <script src="/pkg/mail.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>