html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../assets/img/pendidikan.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #020430;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px; /* Mengurangi padding */
    border-radius: 10px; /* Mengurangi radius border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    max-width: 500px; /* Mengurangi lebar maksimum */
    width: 90%;
}

h2 {
    text-align: center;
    color: #000;
    margin-bottom: 15px; /* Mengurangi margin bawah */
    font-size: 24px; /* Mengurangi ukuran font */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px; /* Mengurangi margin bawah */
}

.form-item {
    width: 48%;
    margin-bottom: 15px; /* Mengurangi margin bawah */
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px; /* Mengurangi padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 8px; /* Mengurangi margin bawah */
    transition: border-color 0.3s;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    border-color: #667eea;
    outline: none;
}

.gender-options {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.form-buttons {
    text-align: center;
    margin-top: 15px; /* Mengurangi margin atas */
}

button {
    background: linear-gradient(to right, #9f7aea, #667eea);
    color: #fff;
    padding: 10px; /* Mengurangi padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(to right, #667eea, #9f7aea);
}

#success-message {
    text-align: center;
    background-color: #28a745;
    color: white;
    padding: 8px; /* Mengurangi padding */
    border-radius: 5px;
    margin-bottom: 15px; /* Mengurangi margin bawah */
    font-size: 14px; /* Mengurangi ukuran font */
}
